/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: Anivers-Regular;
  color: #404040;
}

.home-page {
  background-color: #d2d3d5;
}
 
body .search-page {
  background-color: #ffffff;
}
 
.home-page header {
  height: 250px;
  position: relative;
  padding-top; 20px;
}

.search-page header {
  height: 100px;
  position: relative;
  padding-top; 20px;
}

.home-page header .slide {
  position: absolute;
  right: 75px;
  top: 20px;
  width: 512px;
  height: 270px;
  background-image:url('../img/main_foto.jpg');
}

.home-page header .small-buttons {
  position: absolute;
  right: 75px;
  top: 290px;
}

.search-page header .small-buttons {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 34px;
}

.small-buttons .small-button {
  height: 34px;
  width: 38px;
  margin-left: 1px;
  background-color: #481368;
  display: inline-block;
  position: relative;
}

.search-page .small-buttons .small-button {
  margin-top: 0;
}

.home-page .small-buttons .small-button {
  margin-top: 3px;
}

.home-page .small-buttons .small-button img,
.search-page .small-buttons .small-button img {
  margin: 0;
  top: 0;
  left: 0;
}


.home-page header h1 
{
  padding-top: 80px;
  padding-left: 20px;
  color: #d2d3d5;
}

.search-page header h1 
{
  padding-top: 80px;
  padding-left: 20px;
  color: #fff;
}
.home-page header img {
  position:absolute;
  left: 10px;
  top:50px;
}

.search-page header img {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.container {
  width: 900px;
  clear: both;
  margin: auto;
}

.home-page .tile {
  display: inline-block;
  width: 150px;
  margin: 0;
  position: relative;
  cursor: pointer;
}

.home-page .tile,
.home-page .tile .arrow-down,
.home-page .tile .arrow-right {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.home-page .tile.violet:hover {
  background-color: #59208A;
}
.home-page .tile.violet:hover .arrow-down,
.home-page .tile.violet:hover .arrow-right {
  border-color: #59208A;
}
.home-page .tile.violet:hover .arrow-down {
  bottom: -10px;
}

.home-page .tile,
.home-page .tile-height {
  height: 150px;
}

.home-page .tile .arrow-down,
.home-page .offer-data.status .arrow-down {
  width: 0px;
  height: 0px;
  right: 4px;
  bottom: -7px;
  position: absolute;
  /* triangle trick */
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-top: 10px solid;
  z-index: 10;
}

.home-page .tile .arrow-down.violet {
  border-top-color: #481368;
}

.home-page .tile .arrow-down.gray {
  border-top-color: #6d6e71;
}

.home-page .tile .arrow-right.violet, 
.home-page .oferty_tygodnia .arrow-right.violet {
  width: 0px;
  height: 0px;
  right: -10px;
  position: absolute;
  /* triangle trick */
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  border-left: 10px solid #481368;
  z-index: 10;
}

.search-page .search-form.form-label .arrow-right.lila2 {
  width: 0px;
  height: 0px;
  right: -8px;
  bottom: 8px;
  position: absolute;
  /* triangle trick */
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-left: 8px solid #d1d2d4;
  z-index: 10;
}

.home-page .tile .arrow-right.violet {
  top: 10px;
}

.home-page .oferty_tygodnia .arrow-right.violet {
  bottom: 10px;
}

.home-page .offer-data.status .arrow-down.lila {
  border-top-color: #c5bcd4;
  left: 6px;
}

.home-page .tile.violet   { background-color: #481368; }
.home-page .tile.gray { background-color: #6d6e71; }
.home-page .tile.img1 { background-image:url('../img/tile_img1.jpg'); }

.home-page .tile > img {
  display: block;
  margin: auto;
  margin-top: 75px;
}

.home-page .aside .oferty_tygodnia {
  background-color: #481368;
  width: 55px;
  height: 310px;
  top: 0px;
  left: -55px;
  position: absolute;
}

.home-page .aside .span2 {
  background-image:url('../img/stamp.png');
  background-repeat:no-repeat;
  background-position: left bottom;
  min-height: 550px;
}

.home-page .aside p {
  margin: 10px 100px 10px 10px;
}

.home-page .offers {
  min-height: 400px;
  background-color: white;
  position: relative;
}

.home-page .offer-data {
  margin: 15px;
  text-align: center;
}

.home-page .offer-data.status {
  background-color: #c5bcd4;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  position: relative;
}

.home-page .offers .skrot {
  font-size: 10pt;
  text-align: justify;
}

.home-page .offers .span1,
.home-page .sales .span1 {
  border-right: 2px solid #dddee0;
  width: 148px;
}
.home-page .offers .span1 {
  min-height: 400px;
}

.home-page .sales {
  background: white;
}

.span1,
.span2,
.span3,
.span4 {
  display: inline-block;
  vertical-align: top;
}

.span1 {
  width: 150px;
}

.span2 {
  width: 300px;
}

.span3 {
  width: 450px;
}

.span4 {
  width: 600px;
}

.big-number {
  font-size: 15pt;
  font-weight: bold;
}

.home-page .offer-data.phone_nr {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14pt;
  font-weight: bold;
}

.home-page .miejsce1 {
  font-weight: bold;
}

.home-page .dane_center,
.search-page .dane_center {
  display: block;
  margin: auto;
  text-align: center;
}

.search-page header .violet-line {
  background-color: #481368;
  height: 34px;
  width: 560px;
  position: absolute;
  bottom: 0px;
  right: 165px;
}

.search-page .container.search-form {
  background-color: #6d6e71;
  height: 170px;
  width: 900px;
  margin-top: 30px;
  position: relative;
}

.search-page .search-form.form-label {
  width: 190px;
  background-color: #d1d2d4;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
}

.search-page .search-form.row1 {
  top: 15px;
}

.search-page .search-form.row2 {
  top: 50px;
}

.search-page .search-form.row3 {
  top: 85px;
}

.search-page .search-form.row4 {
  top: 120px;
}

.search-page .search-form.col1 {
  left: 20px;
}

.search-page .search-form.col2 {
  left: 240px;
}

.search-page .search-form.col2a {
  left: 341px;
}

.search-page .search-form.col3 {
  right: 221px;
}

.search-page .search-form.col4 {
  right: 121px;
}

.search-page .search-form.col4a {
  right: 20px;
}

.search-page .search-form.input {
  border: none;
  background: #fff;
  height: 31px;
  position: absolute;
  padding-left: 10px;
  width: 191px
}

.search-page .search-form.input.half {
  width: 90px
}

::-webkit-input-placeholder {
   font-family: Anivers-Regular;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: Anivers-Regular;  
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: Anivers-Regular;  
}

:-ms-input-placeholder {  
   font-family: Anivers-Regular;  
}

input {
   font-family: Anivers-Regular;  
}

.search-form .styled-select select{
  border: none;
  background: #fff;
  height: 33px;
  position: absolute;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  width: 201px;
  -webkit-appearance: none;
  font-family: Anivers-Regular;
}

.search-page .offers-container {
  margin-top: 30px;
  position: relative;
}

.search-page .offers-container .offers-list .offer {
  width: 266px;
  height: 60px;
  background-color: #d1d2d4;
  position: relative;
  margin-top: 4px;
}

.search-page .offers-container .offers-list .offer .offer-data {
  text-align: center;
  width: 86px;
  background-color: #fff;
  height: 25px;
  margin-top: 2px;
  position:absolute;
  font-weight: bold;
}

.search-page .offers-container .offers-list .offer .offer-zobacz-button {
  text-align: center;
  width: 50px;
  background-color: #6d6e71;
  height: 16px;
  top: 36px;
  right: 8px;
  position:absolute;
  color: #fff;
  font-size: 11px;
}

.search-page .offers-container .offers-list .offer .offer-skrot {
  text-align: left;
  top: 32px;
  position:absolute;
  margin-left: 10px;
  font-size: 14px;
}

.search-page .offers-container .offers-list .offer .offer-data.data1 {
  margin-left: 2px;
}

.search-page .offers-container .offers-list .offer .offer-data.data2 {
  margin-left: 90px;
}

.search-page .offers-container .offers-list .offer .offer-data.data3 {
  margin-left: 178px;
}

.search-page .offer-photos {
  position: absolute;
  right: 0px;
  width: 260px;
  top: 0px;
}

.search-page .offer-photos img {
  margin-bottom: 4px;
}

.search-page .offer-details {
  position: absolute;
  right: 264px;
  width: 260px;
  top: 0px;
  height: 700px;
  width: 320px;
}

.search-page .offer-details .miniatura {
  height: 160px;
  width: 160px;
}

.search-page .offer-details .basic-info-text {
  position: absolute;
  left: 160px;
  height: 160px;
  width: 160px;
  top: 20px;
}

.search-page .offer-details .basic-info-text .status-nr {
  position:absolute;
  bottom: 0px;
  height: 20px;
  width: 160px;
  background-color: #481368;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

.search-page .offer-details .basic-info-text .status-nr .status {
  position: absolute;
  left: 0px;
  margin-left: 10px;
}

.search-page .offer-details .basic-info-text .status-nr .nr {
  position: absolute;
  right: 0px;
  margin-right: 10px;
}

.search-page .offer-details .offer-description {
  position: absolute;
  top: 160px;
  height: 540px;
  width: 320px;
  background-color: #d1d2d4;
}

.search-page .offer-details .offer-description .location{
  position: absolute;
  top: 10px;
  height: 35px;
  width: 320px;
  background-color: #481368;
}
.search-page .offer-details .offer-description .location .location-text {
  color: #fff;
  padding-top: 2px;
  font-size: 20px;
  display:block;
  text-align:center;
}

.search-page .offer-details .offer-description .row1{
  position: absolute;
  top: 55px;
  height: 50px;
  width: 320px;
}

.search-page .offer-details .offer-description .row2{
  position: absolute;
  top: 107px;
  height: 50px;
  width: 320px;
}

.search-page .offer-details .offer-description .col1{
  position: absolute;
  left: 2px;
  height: 50px;
  width: 200px;
  background-color: #fff;
}

.search-page .offer-details .offer-description .col2{
  position: absolute;
  right: 2px;
  height: 50px;
  width: 114px;
  background-color: #fff;
}

.search-page .offer-details .offer-description .col1 .text{
  margin-left: 10px;
}

.search-page .offer-details .offer-description .col2 .text{
  display: block; 
  text-align: center;
}

.search-page .offer-details .offer-description .contact-data{
  position: absolute;
  bottom: 2px;
  left: 2px;
  height: 95px;
  width: 316px;
  background-color: #fff;
}

.search-page .offer-details .offer-description .contact-data .text{
  margin-top: 5px;
  margin-left: 10px;
  font-size: 12px;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
